.color-lamp-0 {
    fill: #696969;
}
.color-lamp-1 { 
    fill: #b2b2d8;
}
.color-lamp-2 { 
    fill: #fff9cc; 
}
.color-lamp-3 { 
    fill: #af91db; 
}

@keyframes flicker {
    0%, 15%, 30%, 45%, 60%, 75% { opacity: 0.1; }
    7%, 22%, 37%, 52%, 67%, 82% { opacity: 0.2; }
    100% { opacity: 0.4; }
}

.light-flicker {
    opacity: 0;
    animation: flicker .8s .2s forwards;
    mix-blend-mode: luminosity;
}


@keyframes pressDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(8px); }
    100% { transform: translateY(0); }
}

.pressed {
    animation: pressDown 1s ease forwards;
}