@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        font-family: 'Comic Neue', cursive !important;
        --color-primary: #E21022;
        --color-cv-primary: #733280;
        --color-white-background: #eeeeee;
        --color-white-background-dark: #0f0f0f;
        --color-red-background: #af1e15;
        --color-red-background-dark: #2c1152;
        --color-bg-grey: #bbbbbb;
        --color-bg-grey-dark: #111111;
        --color-white: #ffffff;
        --color-black: #000000;
    }
}