@import "tailwindcss";


@layer base {
    :root {
        font-family: 'Comic Neue', cursive !important;
        --color-primary: #E21022;
        --color-cv-primary: #5e3d8d;
        --color-white-background: #f3f3f3;
        --color-red-background: #970000;
        --color-bg-grey: #bbbbbb;
        --color-text-white: #ffffff;
        --color-text-black: #000000;
    }

    .dark {
        --color-white-background: #0f0f0f;
        --color-red-background: #2c1152;
        --color-bg-grey: #111111;
        --color-text-white: #000000;
        --color-text-black: #ffffff;
    }
}

#python, #github {
    animation-name: pythonGithub;
}

#html, #css {
    animation-name: htmlCss;
}

#js {
    animation-name: JS;
}

#php, #react, #tailwind {
    animation-name: phpReactTailwind;
}

#sql, #figma {
    animation-name: sqlFigma;
}

#linux {
    animation-name: LINUX;
}

@keyframes pythonGithub {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes htmlCss {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes JS {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes phpReactTailwind {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}

@keyframes sqlFigma {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes LINUX {
    0% {
        width: 0%;
    }
    100% {
        width: 5%;
    }
}

#canva {
    animation-name: CANVA;
}

#photoshop, #illustrator, #indesign {
    animation-name: photoshopIllustratorIndesign;
}

#wordpress {
    animation-name: WORDPRESS;
}

@keyframes CANVA {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes photoshopIllustratorIndesign {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes WORDPRESS {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}